export(fit_copula_interactions)
S3method(predict, logistic_copula)
S3method(print, CondNode)
S3method(print, Edge)
importFrom("stats", "binomial", "coef", "dbinom", "dexp", "dnorm",
               "dpois", "glm", "nlm", "optim", "pbinom", "pexp", "plogis",
               "pnorm", "ppois", "predict", "qlogis", "var")
importFrom("utils", "combn")
importFrom("brglm2", "brglmFit")